*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
.idea/
Library/
obj/
Temp/
_.builds
_.captures
__.dont-track
[Ee]xported[Oo]bj/
[Oo]bj/
.DS_Store
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
[Bb]uild
sysinfo.txt
*.stackdump
/Logs
